@import '../../scss/variables.scss';

.InboxTextView {
  padding: 20px;
  cursor: pointer;

  &-text {
    margin: 0;
    font-size: .8rem;
    height: 1.2rem;

    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
  }
}
